/* common  */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  opacity: 0;
}

:root {
  --pd-cont: 20px; /* padding container */
  --pd-cont-input-form: 30px; /* padding container by input form*/

  /* color palette */
  --color-white: hsla(0, 0%, 100%, 1);
  --color-black: hsla(0, 0%, 20%, 1);
  --color-grey-bacground: hsla(0, 0%, 90%, 1);
  --color-grey: hsla(255, 12%, 80%, 1);
  --color-grey-02: hsla(255, 12%, 80%, .2);
  --color-grey-03: hsla(255, 12%, 80%, .3);
  --color-grey-05: hsla(255, 12%, 80%, .5);
  --color-grey-91: hsla(260, 13%, 91%, 1);


  --color-grey02-border: hsla(0, 0%, 20%, 0.2);
  --color-gray-text: hsla(0, 0%, 69%, 1);
  --color-firm:hsla(256, 100%, 73%, 1);
  --color-firm-81: hsla(256, 100%, 81%, 1);
  --color-firm-66: hsla(256, 100%, 66%, 1);
  --color-red: hsla(11, 84%, 62%, 1);
  ;

  --duration-btn-animation: 600ms;
}

.container {
  min-width: 290px;
  max-width: 1326px;
  margin-left: auto;
  margin-right: auto;
  padding-right: var(--pd-cont);
  padding-left: var(--pd-cont);
}

/* button style */
.btn {
  transition-property: bacground-color color;
  transition-timing-function: ease;
  transition-duration: var(--duration-btn-animation);
}

.btn-primary {
  color: var(--color-white);
  background-color: var(--color-firm);
}

.btn-primary:focus,
.btn-primary:hover {

}

.btn-secondary {
  border: 1px solid var(--color-firm);
  color: var(--color-firm);
}

.btn-primary:focus:not(:active),
.btn-primary:hover:not(:active),
.btn-secondary:focus:not(:active),
.btn-secondary:hover:not(:active) {
  background-color: var(--color-firm-81);
}

.btn-primary:active,
.btn-secondary:active {
  background-color: var(--color-firm-66);
}

.btn-secondary:focus,
.btn-secondary:hover,
.btn-secondary:active {
  color: var(--color-white);
}

.btn-disabled:focus,
.btn-disabled:hover,
.btn-disabled:active {
  cursor: auto;
}

/* body */
.aurora-crm {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: var(--color-black);
  background-color: var(--color-grey-bacground);
}

/* header */
.header {
  background-color: var(--color-white);
  box-shadow: 0 9px 27px 0 hsla(200, 15%, 73%, 0.32), 0 3.38px 5.641px 0 hsla(200, 15%, 73%, 0.32);
  margin-bottom: 27px;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: start;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header__logo {
  margin-right: 53px;
}

.header__search {
}
.search-form__btn-search {
  display: none;
}

.search-form__input {
  height: 44px;
  width: 581px;
  padding: 12px 16px;
  border: 1px solid var(--color-grey02-border);
}

.search-form__input::-webkit-input-placeholder {
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  color: var(--color-gray-text);
}

/* main */
.main {
}
.main__container {
  padding: 13px 50px 40px 50px;
}
.main__subtitle {
  margin-bottom: 26px;
  font-size: 24px;
  font-weight: 700;
  line-height: 33px;
}
.main__table {}

/* footer */
.footer {

}

.footer__container {
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

.footer__btn {
}

.btn-addclient {

  padding: 14px 26px;
}

.btn-addclient__icon {
  margin-right: 10px;
}

.btn-addclient__caption {
  font-weight: 600;
  line-height: 19px;
  color: currentColor;
}

/* input form */
.input-form {
  display: flex;
  flex-direction: column;
}

.input-form__container{
  padding-left: var(--pd-cont-input-form);
  padding-right: var(--pd-cont-input-form);
}

.input-form__header {
  padding-top: 24px;
  padding-bottom: 15px;
}

.input-form__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 24.51px;
}

.input-form__header_add {}

.input-form__main {
  display: flex;
  flex-direction: column;
}

.input-form__section {
  display: flex;
  flex-direction: column;
}

.input-form__section_full-name {
  padding-bottom: 10px;
}

.input-form__input {
  width: 390px;
  height: 41px;
  margin-bottom: 15px;
  border-bottom: 1px solid var(--color-grey-05);
}

.input-form__input::-webkit-input-placeholder {
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  color: var(--color-gray-text);
}

.input-form__input.invalid {
  border-bottom: 1px solid var(--color-red);
}

.input-form__input_text {}

/* section contacts */
.input-form__section_contacts {
  align-items: center;
  background-color: var(--color-grey-02);
}

.input-form__section_contacts.is-contains {
  padding: 25px 30px;
}

.input-form__section_contacts.is-contains .input-form__container-select {
  margin-bottom: 10px;
}

.input-form__input-contact {
  min-width: 390px;
  margin-bottom: 15px;
}

.input-contact {
  display: flex;
  justify-content: start;
  border: 1px solid var(--color-grey);
}

.input-contact.invalid {
  border-color: var(--color-red);
}

.input-contact__input {
  width: 100%;
  padding: 0 12px;
}

.input-contact__input::-webkit-input-placeholder {
  color: var(--color-gray-text);
}

.input-contact__btn-remove {
  display: none;
  width: 27px;
  flex-shrink: 0;
  border-left: 1px solid var(--color-grey);
  background-color: var(--color-grey-91);
}

.input-contact__btn-remove.is-visible {
  display: block;
}



.input-form__btn-addcontact {
}

.btn-addcontact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  flex-grow: 0;
  width: fit-content;
  padding: 8px;
  transition-property: color;
  transition-duration: var(--duration-btn-animation);
}

.btn-addcontact__icon {
  position: relative;
  margin-right: 4px;
  color: var(--color-firm);
}

.btn-addcontact__icon_active {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-white);
  opacity: 0;
  transition-property: opacity;
  transition-timing-function: ease;
  transition-duration: var(--duration-btn-animation);
}

.btn-addcontact:focus .btn-addcontact__icon_active,
.btn-addcontact:hover .btn-addcontact__icon_active {
  opacity: 1;
}

.btn-addcontact__caption {

}

.btn-addcontact:focus,
.btn-addcontact:hover,
.btn-addcontact:active {
  color: var(--color-firm);
}





.input-form__messange {}


.input-form__footer {
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
}
.input-form__btn-save {}

.btn-save {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 15px 37px;
  margin-bottom: 5px;
  font-weight: 600;
}

.btn-save__icon {
  margin-right: 4px;
}

.input-form__btn-remove {
  width: fit-content;
  padding: 1px 10px;
  font-size: 12px;
  line-height: 16px;
  text-decoration-line: underline;
}


