.container {
  position: relative;
  max-width: 1240px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  background-color: blanchedalmond;
}

.drag-element {
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 40px;
  padding: 15px;
  background-color: rgb(234, 135, 15);
  text-align: center;
}
